*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


#heding{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
#heading1{
    font-size: 40px;
    font-style: oblique;
    position: absolute;
    padding-top: 40px;
    left: 183px;
    color: rgb(57, 37, 77);
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.slideshow{
    position: relative;
    width: 1523px;
    height: 490px;
    overflow: hidden;

}

.slideshow img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    animation: slide 16s infinite;
}

.slideshow img:nth-child(1){
    animation-delay: 0s;
}

.slideshow img:nth-child(2){
    animation-delay: 4s;
}

.slideshow img:nth-child(3){
    animation-delay: 8s;
}

.slideshow img:nth-child(4){
    animation-delay: 12s;
}

@keyframes slide{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    33.33%{
        opacity: 1;
    }
    53.33%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}




#details{
    display: contents;
    justify-content: space-between;
    align-items: normal;
}

#details h2{
    font-size: 40px;
    align-items: center;
    font-weight: 600;
    padding-left: 60px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.sk{
    color: blue;
    display: flex;
    font-weight: 400;
    font-size: 20px;
    justify-content: space-between;
    font-style: italic;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    background-color:rgb(226, 223, 219);
    padding-left: 40px;

}
.sideimage{
    max-width: 50%;
    height: auto;
    margin-left: 20%;
}


#details img{
    height: 200px;
    width: 200px;
}


.pk{
    color: blue;
    display: flex;
    font-weight: 400;
    font-size: 20px;
    justify-content: space-between;
    font-style: italic;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    background-color:rgb(226, 223, 219);
    padding-left: 40px;
    padding-right: 20px;
}

#men{
    text-align: center;
}





#product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
    
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: green;
}

#product1 .pro .Cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    font-weight: 500;
    color: green;
    border: 1px solid #cce7d0 ;
    position: absolute;
    bottom: 20px;
    right: 10px;
}



.Care {
    text-align: center;
    background-color: rgb(43, 28, 78);
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 25px;
}

.Care h3{
    font-size: 30px;
}
